<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MtoGW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MtoGW.Properties.Settings>
            <setting name="KanaDict" serializeAs="String">
                <value>Application.StartupPath/../../dict/kana-jisyo</value>
            </setting>
            <setting name="KanjiDict" serializeAs="String">
                <value>Application.StartupPath/../../dict/kanji-jisyo</value>
            </setting>
        </MtoGW.Properties.Settings>
    </userSettings>
</configuration>